<%= form_for @cost, :html => { :class => "form-horizontal cost", :style => 'text-align: left; font-size: 120%' } do |f| %>

    <% if @cost.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cost.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select("category_id", options_for_select(Category.all.map { |cate| [cate.name, cate.id]}),{}, {class: 'form-control'})%>
    </div>
  </div>

    <br>
    <br>


  <%= f.submit nil, :class => 'btn btn-primary', style: 'margin-right: 20px;' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            costs_path, :class => 'btn btn-default' %>

<% end %>
