
<div class="overviews">
  <h1 class="overview-title">OVERVIEW</h1>
  <div class="view-box overview-box">
    <div class="title">
      <li class="first-colum">Monthly overview</li>
      <li>
        <%= form_tag("/statistic", method: "get", remote: true) do %>
            <%= select_tag('month_id', options_from_collection_for_select(@hashmonth, 'first', 'last', '1' )) %>
            <%= button_tag 'Get', :name => nil, style: 'padding: 0px 25px; height: 50px; margin-left: 15px;' -%>
        <% end %>
      </li>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="expences">
        <div class="col-md-6">Expenses</div>
        <div class="col-md-6" id="total-expense"></div>
      </div>
    </div>

    <div class="row">
      <div class="income">
        <div class="col-md-6">Income</div>
        <div id="total-income" class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
