
<%- model_class = Income -%>

<div class="page-header">
  <div class="col-md-8 pull-left" style="text-align: left">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>


  <div class="col-md-4 pull-right"  style="text-align: right">

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_income_path,
                :class => 'btn btn-default ct-btn' %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= link_to income.id, income_path(income) %></td>
        <td><%= income.amount %></td>
        <td><%= income.category.name %></td>
        <td><%=l income.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_income_path(income), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      income_path(income),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>