/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn{
	border-radius: 0px;
}
.btn-xs{
	padding: 3px 10px;
}
input, select, button{
	border-radius: 0px !important;
}
.overviews .overview-title{
	text-align: left;
	padding-left: 15px;
}
.overviews .view-box{
	width: 65%;
	background-color: #ffffff;
	font-size: 15px;
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}
.overviews .view-box div{
	/*width: 100%;*/
	height: 50px;
	line-height: 50px;
}
.overviews .view-box div li {
	list-style: none;
	float: left;
	width: 50%;
}
.overviews .view-box select{
	width: 200px;
	height: 50px;
	border: 1px solid #03a9f4;
	background-color: #e8f5e9;
	text-align: center;
}
.overviews .view-box select option{
	padding: 5px;
}