.ct-btn {
  padding: 8px 50px;
  margin-top: 15px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  /* equal to footer height */
  //margin-bottom: -112px;
}
#content-wrapper:after {
  content: "";
  display: block;
}

footer {
  p {
    padding-bottom: 44px !important;
  }
}

.table {
  text-align: left;
}

.overview-box {
  padding: 20px;
  margin-left: 5%;
  width: 90% !important;
  margin-top: 20px;
}